# 泰坦尼克数据集分类——数据来自kaggle比赛
各位同学可以关注kaggle或天池比赛，在其中找到对应的数据分析比赛开展研究。

本次课程以泰坦尼克数据集为例，构建简单的分类预测模型如下。

本方案为基础方案，若需要有所提升，请各位同学关注比赛kaggle官网在对应赛事下Discussion与Notebook部分，可以看到同赛事竞赛者的思路以及完成方案。

本方案参考 Sahil Maheshwari 提出的Notebook：TOP 30 % with 20 lines of code 进行复现，

## 读取训练集和测试集中的数据

In [14]:
import numpy as np     # linear algebra
import pandas as pd    # data processing, CSV file I/ O (e.g. pd.read_csv)

# 读取训练集的数据
path_df = open('E:/Grade3_1/智能信息系统（实验）/week3/实验三_机器学习与分类课件/code/titanic_data/train.csv')
train_data = pd.read_csv(path_df)
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
# 读取测试集数据
path_d = open('E:/Grade3_1/智能信息系统（实验）/week3/实验三_机器学习与分类课件/code/titanic_data/test.csv')
test_data = pd.read_csv(path_d)
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [17]:
# 计算训练集中女性存活的概率
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women) / len(women)

print("% of women who survived: ", rate_women)

% of women who survived:  0.7420382165605095

In [19]:
# 计算训练集中男性存活的概率
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men) / len(men)

print("% of men who survived: ", rate_men)

% of men who survived:  0.18890814558058924

## 选择模型进行分类

### 本实验模型选择说明
练习时同学们可以使用SVM进行练习，本实验采用了随即森林。

如果想要获得高的评价结果，需要在特征工程（面向业务逻辑构建特征框架）、模型选择（结构化数据分类中集成模型一般能获得较高评价）、模型调参等多个方面同时优化。请学有余力的同学可以进行尝试，不限于kaggle平台的titanic数据集，可以自行选择感兴趣的开展研究。

In [23]:
# 随机森林模型
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators = 100, max_depth = 5, random_state = 1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('E:/Grade3_1/智能信息系统（实验）/week3/实验三_机器学习与分类课件/code/titanic_data/my_submission.csv', index = False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

## 提交结果说明
将生成的csv文件提交到titanic比赛页面的submit predictions页面，获得实验结果评价如下：

![titanic_demo_prediction_score](E:/Grade3_1/智能信息系统（实验）/week3/实验三_机器学习与分类课件/code/titanic_demo_prediction_score.png)